body {
  background-color: #03506f;
  font-family: "Merriweather", serif;
  color: #373a40;
}

i {
  color: goldenrod;
}

p {
  margin: 0%;
  padding: 0%;
}

a {
  color: #373a40;
}

table {
  width: 100%;
}

/* classes */

.container {
  margin-top: 100px;
  background-color: aliceblue;
  padding: 40px;
}

.container-fluid {
  background-color: aliceblue;
  padding: 40px;
}
